@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    font-family: Source Sans Pro,sans-serif;
    font-weight: 900
}

.content_text {
    font-family: Source Sans Pro,sans-serif;
    font-size: 1rem;
    font-weight: 300;
}